.slider-container {
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.slider-slide {
  flex: 1 0 0 auto;
  width: 100%;
}

.slider-enter, .slider-leave {
  transition: transform 0.5s ease;
}

.slider-enter {
  transform: translateX(100%);
}

.slider-leave {
  transform: translateX(-100%);
}
